.main {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 30px;
}
.yellow {
    background: #ffed81;
    height: 50px;
}
.green {
    background: #b6d884;
    height: 50px;
}
.lightblue {
    background: #6acbde;
    height: 50px;
}